/* install fonts */
@font-face {
    font-family: Yatra;
    src: url(fonts/YatraOne-Regular.ttf)
}

@font-face {
    font-family: Comic;
    src: url(fonts/ComicNeue-Regular.ttf)
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  background-color: #f5f6fa;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
}


.container {
  width: 1170px;
  margin: 0 auto;
}

.responsive {
  width: 100%;
  height: auto;
}






/* header */
.header-wrapper {
  height: 500px;
  padding-bottom: 80px;
}

.header {
  background-color: #f5f6fa;
  color: #2c3e50;
  height: 110px;
}

.header-logo {
  float: left;
  padding: 10px 40px;
}

.header-list {
  float: right;
  color: #2c3e50;
  text-transform: capitalize;
  font-size: 20px;
}

.header-list a:visited {
  color: #2c3e50;
}

.header-list li {
  float: left;
  padding: 45px 20px;
  font-family: Comic;
  opacity: 0.7;
  color: #2c3e50;
}

.header-list li:hover {
  color: #353b48;
  opacity: 1;
}

.header-image { 
  text-align: center;
  background-size: cover;
  height: 500px;
  background-image: url(images/header.jpg);
}

.header-image .container {
  color: #FFFFFF;
 
  text-shadow: -1px 2px 3px rgba(0,0,0,0.6);

  font-size: 30px;
  font-family: Comic; 
 
  padding-top: 150px; 



}


/* isi */
.isi-wrapper {   
  background-color: #f5f6fa;
  text-align: center;
  padding-bottom: 50px;
}

.flex-container { 
	
  display: inline-block;
	margin: 0 auto;
}

.isi-text {
  width: 560px;
  font-size: 22px;
  text-align: left;
  padding: 10px; 
  display: inline-block;
  float: left;
  line-height: 200%;
  color: #2c3e50; 
}
.isi-text img {
  width: 100%;
}


/* member */
.member-wrapper { 
  
 
  background: rgb(255,255,255);
  background: linear-gradient(187deg, rgba(255,255,255,1) 0%, rgba(70,229,219,1) 0%, rgba(214,249,247,1) 49%, rgba(255,255,255,1) 100%);
 

  text-align: center;
}

.heading {
  font: bold 18px "Open Sans", sans-serif;
  padding: 100px 20px 20px 20px;
  color: #2c3e50;
  text-transform: uppercase;
  display: block;
 
}
.row { 
  display: block; 
  margin: 0px;
  padding: 0px;
}
.col{ 
  width: 330px;
}
.member_list {  
  display: inline-grid;
  margin: 10px;
  min-height: 450px;
}

.member_list img {

    border-radius: 50%;
}
.member_list .box { 


  
  padding: 10px;
  background: #f5f6fa;


}

.member_list strong {  
  font-family: Comic; 
  font-size: 20px; 
  text-transform: uppercase;
  font-style: bold;
}
.box p {
  font-family: Comic;
  font-style: italic;
}

.bottom {
  height : 200px;
}

.message {
  padding: 15px 40px;
  background-color: #95a5a6;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: 0 7px #2c3e50;
  font-family: Comic;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}


/* footer */


footer img {
    float: right;
    padding: 3px 10px;
    height: 60px;
}

footer a {
  height: 55px;
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  color: #353b48;
  font-size: 18px;
}

@font-face {
    font-family: "Comic";
    src: url('ComicNeue-Regular.ttf');
}

.font {
  font-family: Comic;
  opacity: 0.7;
}

.font:hover {
  opacity: 1;
}

footer {
  padding-top: 20px;

  background-color: #f5f6fa;
}

.footer-list {
  background-color: #f5f6fa;
}




/* responsive */

/* Untuk Tablet */
@media all and (max-width: 1000px) {
	.member_list {
	width: 90%;
	}
	.container {
		width: 100%; 
	}
	.isi-text {
		width: 100%;
		padding: 20px;
	}
	.isi-text img {
		width:95%;
		text-align: center;
	}
 
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
	.member_list {
	width: 90%;
	}
	.container {
		width: 100%; 
	}
	.isi-text {
		width: 100%;
		padding: 20px;
	}
	.isi-text img {
		width:95%;
		text-align: center;
	}
  
 
 
}